{
  "mcpServers": {
    "supabase-ragnar-dev": {
      "type": "http",
      "url": "https://mcp.supabase.com/mcp?project_ref=vujqukqsfwmoezwyuoum&features=database,docs,development,debugging"
    },
    "supabase-ragnar-prod": {
      "type": "http",
      "url": "https://mcp.supabase.com/mcp?project_ref=zmypzexefjbovuknjlid&features=database,docs,development,debugging"
    }
  }
}
